body {
  font-family: Quicksand, sans-serif;
}

.primary-button {
  font-family: inherit;
  background-color: #ffe247;
  color: black;
  border: none;
  border-radius: 6px;
  box-shadow:
    0 0.5em 1em -0.125em rgb(10 10 10 / 30%),
    0 0 0 1px rgb(10 10 10 / 6%);
}

.primary-button:active {
  transform: scale(0.95);
}

.primary-button:hover {
  background-color: #ffed86;
}

/* AUTH */

.auth-logo-img {
  z-index: 1;
  animation: auth-fire 2.5s ease-out;
}

.auth-logo-text {
  z-index: 2;
  letter-spacing: 1rem;
  animation: auth-logo 1s ease-out;
}

.auth-logo-subtext {
  z-index: 2;
  animation: auth-logo 1s ease-out;
}

/* BODY CONTAINER */

a {
  color: #4a4a4a;
}

.body-container {
  margin: 65px 0 95px;
  padding: 1.2rem;
}

/* EXERCISES PAGE */

.modal-content {
  width: 70% !important;
  max-width: 900px !important;
}

.exercise-searchbox {
  width: 70%;
  background-color: #dbdbdb;
  border: 1px solid black;
  border-radius: 6px;
}

.alphabet-container {
  min-width: 270px;
  height: auto;
  gap: 0.3rem;
}

.letter-container {
  width: 100%;
}

.letter-anchors {
  width: 35px;
  color: #ffe247;
  border-radius: 6px;
}

.letter-anchors:hover {
  color: #dc2626;
}

.letter-title {
  width: 95%;
  color: #ffe247;
  border-radius: 6px;
  scroll-margin-top: 65px;
}

.box:last-child {
  margin-bottom: 1.5rem;
}

.exercise-card {
  width: 95%;
  max-height: 35px;
  border: 2px solid #dbdbdb;
  box-shadow: none;
}

.exercise-card:last-child {
  margin-bottom: 70px;
}

.selected-exercise-card {
  position: relative;
  border: 2px solid black;
}

.selected-exercise-card:hover,
.exercise-card.box:hover {
  box-shadow:
    0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%) !important;
}

.exercise-card.box:hover {
  border: 2px solid rgba(173, 173, 173) !important;
  background-color: rgb(173, 173, 173) !important;
}

.selected-exercise-card.box:hover {
  background-color: #fffae4 !important;
  border: 2px solid black !important;
}

.selected-check {
  position: absolute;
  top: 8px;
  right: 5px;
  color: #ffe247;
}

.exercises-container-desktop {
  position: fixed;
  width: 25%;
  bottom: 0;
  right: 0;
  z-index: 30;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.exercise-form-desktop {
  max-height: 350px;
  transition: max-height 0.5s;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.collapse {
  max-height: 0;
  overflow: hidden;
}

.toggle-show-exercises-desktop {
  width: 100%;
  font-family: inherit;
  background-color: black;
  color: #ffe247;
  border: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.exercise-list-mobile {
  max-height: 150px;
}

.exercise-list-desktop {
  max-height: 200px;
}

.exercise-list-mobile,
.exercise-list-desktop {
  overflow: scroll;
  width: 100%;
  overflow-x: hidden;
}

.add-clear-exercises-mobile,
.replace-exercise-mobile {
  min-height: 45px;
  position: fixed;
  z-index: 30;
  border-top: 2px solid white;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.add-clear-exercises-mobile {
  width: 100%;
  left: 0;
  bottom: 36px;
}

.replace-exercise-mobile {
  width: 70%;
  max-width: 900px;
  bottom: 0;
  left: 15%;
}

.add-exercises-btn,
.clear-btn {
  font-family: inherit;
  width: 40%;
  max-height: 50px;
  box-shadow:
    0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 12%) !important;
}

.exer-chevron {
  float: right;
}

.top-btn,
.top-btn-replace {
  height: 49px;
  position: fixed;
  color: #ffe247;
  z-index: 30;
  border: 2px solid white;
  border-radius: 6px;
}

.top-btn-replace {
  right: 17%;
  bottom: 0;
}

.top-btn {
  bottom: 70px;
  right: 5px;
}

.top-btn:hover,
.top-btn-replace:hover {
  color: #dc2626;
}

.push-up {
  bottom: 130px;
}

/* WORKOUT PAGE */

.card {
  width: 30rem;
  min-width: 280px;
}

.exercise-head {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.exercise-name {
  color: #ffe247;
}

/* MODAL */
.confirm-save-workout-btn,
.cancel-save-workout-btn {
  height: 2.7rem;
  padding: 0 1.5rem;
}

.save-workout-modal {
  width: 22rem !important;
}

.delete-exercise-btn {
  color: #ffe247;
  position: absolute;
  right: 0;
  border: none;
  padding-bottom: 25px;
}

.delete-exercise-btn:hover,
.delete-exercise-btn:focus,
.delete-exercise-btn:focus-visible,
.delete-exercise-btn:active {
  border: none;
  color: #ffe247;
  box-shadow: none;
}

.replace-modal {
  padding-bottom: 6rem !important;
}

.pop-exer-options {
  position: absolute;
  right: 0;
  bottom: -82px;
  border: 2px solid black;
  border-radius: 6px;
}

.replace-exer-btn:hover {
  background-color: #c6c6c6 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.pop-delete-btn:hover {
  color: white !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-color: #f14668 !important;
}

.set-form {
  height: 47px;
}

.reps-value,
.weight-value {
  height: 45px;
  width: 90px;
}

.arrow {
  max-width: 35px;
}

.unselected-check {
  margin-top: 0.3rem;
}

.sets-title,
.reps-title,
.weight-title,
.exer-done-title,
.set-num {
  min-width: 30px;
}

.reps-input,
.weight-input {
  min-width: 60px;
  max-width: 90px;
  height: 45px;
  border: none;
  border-radius: 6px;
}

.add-set-btn {
  width: 90%;
  height: 35px;
  margin: 0 auto;
}

.card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.set-done-btn {
  cursor: pointer;
  border: none;
}

.done-check {
  color: #ffe247;
}

/*
.hidden {
  display: none;
} */

/* USER PROFILE */

.no-workout-msg {
  color: #4a4a4a;
}

a.no-workout-msg:hover {
  color: #4a4a4a;
}

.profile-desktop-left-col {
  border-right: 2px solid #7c7c7c;
}

/* CHARTS */

.chart-container {
  width: 95%;
  min-height: 300px;
  border: 1px solid black;
  border-radius: 6px;
}

/* ERROR PAGE */

.error-page {
  color: #ffe247;
  min-height: 100vh;
  padding: 4rem 0;
  margin: 0 !important;
}

.error-go-back-anchor {
  color: inherit;
}

/* LOADING SPINNER */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffe247;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes auth-logo {
  0% {
    transform: translateY(-100%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes auth-fire {
  0% {
    opacity: 0%;
  }

  95% {
    transform: scale(1.3);
    opacity: 95%;
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@media screen and (min-width: 1024px) {
  .letter-container {
    width: 40%;
  }

  .exercise-searchbox {
    width: 50%;
  }

  .search-results-container {
    width: 40%;
  }

  .exercise-container {
    flex-direction: column;
  }

  .top-btn {
    bottom: 0;
    right: 25.1%;
    border: none;
    margin: 0 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .false {
    right: 1px;
  }

  .top-btn:hover {
    border: none;
    margin: 0 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .chart-container {
    width: 70%;
    min-height: 400px;
  }
}
