body {
  font-family: Quicksand, sans-serif;
}

.primary-button {
  font-family: inherit;
  background-color: #ffe247;
  border: none;
  border-radius: 6px;
  box-shadow:
    0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 6%);
}

.primary-button:active {
  transform: scale(0.95);
}

/* AUTH */

.auth-body {
  height: 100%;
  min-height: 100vh;
  color: #ffe247;
  padding-top: 6rem;
}

.auth-logo {
  min-width: 240px;
  height: 100px;
}

.auth-logo-img {
  position: absolute;
  top: 0;
  left: -16px;
  z-index: 1;
}

.auth-logo-text {
  position: absolute;
  z-index: 2;
  font-size: 3.5rem;
  letter-spacing: 1.2rem;
}

.auth-form {
  width: 250px;
}

.alt-anchor {
  color: #ffe247;
  text-decoration: underline;
}

.alt-anchor:hover {
  color: #dc2626;
}

.auth-error-message,
.auth-success-message {
  position: relative;
  min-width: 300px;
  border-radius: 6px;
}

.auth-error-message {
  color: #dc2627;
  border: 2px solid #dc2627;
}

.auth-success-message {
  color: #419552;
  border: 2px solid #419552;
}

.fa-check {
  color: #dbdbdb;
}

.auth-success-message .fa-check {
  color: inherit;
}

/* NAVBAR */
.navbar {
  min-height: 60px;
}

.logo-img {
  position: absolute;
  min-height: 40px;
  z-index: 1;
  top: 0;
  left: 0;
  object-fit: contain;
}

.logo-text {
  position: absolute;
  top: 20px;
  left: 30px;
  color: #ffe247;
  letter-spacing: 0.6rem;
  text-decoration: none;
  z-index: 2;
}

.desktop-links {
  margin-left: 10rem;
}

.top-links {
  z-index: 3;
  color: #ffe247;
  letter-spacing: 0.2rem;
}

.top-links:focus-within,
.fa-arrow-right-from-bracket {
  color: #ffe247 !important;
}

.top-links:hover,
.fa-arrow-right-from-bracket:hover {
  color: #dc2626 !important;
}

.fa-arrow-right-from-bracket:link,
.fa-arrow-right-from-bracket:active,
.fa-arrow-right-from-bracket:visited {
  text-decoration: none;
}

.navbar-menu,
.navbar-item:focus-within,
a.navbar-item:hover {
  background-color: hsl(0deg, 0%, 4%) !important;
}

.bot-navbar-icon {
  width: 50px;
  min-height: 45px;
  object-fit: contain;
}

.nav-user-icon {
  width: 35px !important;
  height: auto !important;
}

.signout-btn {
  background-color: black;
  border: none;
  cursor: pointer;
}

/* BODY CONTAINER */

a {
  color: #4a4a4a;
}

.body-container {
  margin: 65px 0;
  padding: 1.2rem;
}

/* EXERCISES PAGE */

.box:last-child {
  margin-bottom: 1.5rem;
}

.exercise-card {
  height: 70px;
  border: 2px solid #dbdbdb;
}

.exercise-card:last-child {
  margin-bottom: 70px;
}

.selected-exercise-card {
  position: relative;
  border: 2px solid black;
}

.selected-exercise-card:hover,
.exercise-card.box:hover {
  box-shadow:
    0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%) !important;
}

.exercise-card.box:hover {
  border: 2px solid rgba(173, 173, 173) !important;
  background-color: rgb(173, 173, 173) !important;
}

.selected-exercise-card.box:hover {
  background-color: #fffae4 !important;
  border: 2px solid black !important;
}

.selected-check {
  position: absolute;
  top: 15px;
  right: 5px;
  color: #ffe247;
}

.exercises-container-desktop {
  position: fixed;
  width: 30%;
  bottom: 0;
  right: 0;
  z-index: 30;
  border: 1px solid #ababab;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.exercise-form-desktop {
  max-height: 350px;
  transition: max-height 0.5s;
}

.collapse {
  max-height: 0;
}

.toggle-show-exercises-desktop {
  width: 100%;
  font-family: inherit;
  background-color: black;
  color: #ffe247;
  border: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.exercise-list {
  max-height: 200px;
  overflow: scroll;
  width: 100%;
  overflow-x: hidden;
}

.add-clear-exercises-mobile {
  width: 100%;
  min-height: 50px;
  position: fixed;
  bottom: 36px;
  z-index: 30;
  border-top: 2px solid white;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.add-exercises-btn,
.clear-btn {
  font-family: inherit;
  width: 40%;
  max-height: 50px;
  box-shadow:
    0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 12%) !important;
}

.exer-chevron {
  float: right;
}

/* WORKOUT PAGE */

.card {
  width: 30rem;
  min-width: 280px;
}

.exercise-head {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.exercise-name {
  color: #ffe247;
}

/* MODAL */
.confirm-save-workout-btn,
.cancel-save-workout-btn {
  height: 2.7rem;
  padding: 0 1.5rem;
}

.save-workout-modal {
  width: 22rem !important;
}

.delete-exercise-btn {
  color: #ffe247;
  position: absolute;
  right: 0;
  border: none;
  padding-bottom: 25px;
}

.delete-exercise-btn:hover,
.delete-exercise-btn:focus,
.delete-exercise-btn:focus-visible,
.delete-exercise-btn:active {
  border: none;
  color: #ffe247;
  box-shadow: none;
}

.pop-delete-btn {
  position: absolute;
  right: 0;
  bottom: -40px;
}

.pop-delete-btn:hover {
  background-color: #f14668 !important;
}

.set-form {
  height: 47px;
}

.reps-value,
.weight-value {
  height: 45px;
  width: 90px;
}

.arrow {
  max-width: 35px;
}

.unselected-check {
  margin-top: 0.3rem;
}

.sets-title,
.reps-title,
.weight-title,
.exer-done-title,
.set-num {
  min-width: 30px;
}

.reps-input,
.weight-input {
  min-width: 60px;
  max-width: 90px;
  height: 45px;
  border: none;
  border-radius: 6px;
}

.add-set-btn {
  width: 90%;
  margin: 0 auto;
}

.card-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.set-done-btn {
  cursor: pointer;
  border: none;
}

.done-check {
  color: #ffe247;
}

.hidden {
  display: none;
}

/* USER PROFILE */

.user-profile {
  margin: 75px 0;
}

.user-info {
  margin: 0 auto;
  width: 60%;
  min-width: 290px;
}

.exercise-col {
  max-width: 205px;
}

.no-workout-msg {
  color: #4a4a4a;
}

a.no-workout-msg:hover {
  color: #4a4a4a;
}

.profile-desktop-left-col {
  border-right: 2px solid #7c7c7c;
}

/* ERROR PAGE */

.error-page {
  color: #ffe247;
  min-height: 100vh;
  padding: 4rem 0;
  margin: 0 !important;
}

.error-go-back-anchor {
  color: inherit;
}

/* LOADING SPINNER */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffe247;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1024px) {
  .user-profile {
    flex-direction: row !important;
    margin-top: 65px;
    margin-bottom: 0;
  }

  .user-info {
    flex-basis: 30%;
    height: 100%;
    min-height: 100vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow:
      0 0.5em 1em -0.125em rgb(10 10 10 / 30%),
      0 0 0 1px rgb(10 10 10 / 10%);
  }

  .profile-body {
    flex-basis: 70%;
  }

  .card-content {
    padding: 0 !important;
    margin: 0 !important;
  }

  .profile-username {
    margin-top: 2rem;
  }
}
